@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}

<div style="text-align:center;">

    <h1>About Us</h1>

    <br />
    <br />
    <br />

    <p><b>Hours of Operation</b>:</p>
    <p>Mon - Sat: <b>Open 24 Hours</b></p>
    <p>Sunday: <b>Closed</b></p>

    <br />

    <p><b>Location</b>:</p>
    <p>1234 Nowhere Rd, Sodatown NY, 10293</p>

    <br />

    <p><b>Phone Number</b>:</p>
    <p>(212)-777-8989</p>

    <br />

    <p><b>E-mail Address</b>:</p>
    <p>SixBelowCemetary@email.com</p>

    <br />

    <p><b>Fax Number</b>:</p>
    <p>(212)-777-0909</p>

    <br />
    <br />

</div>
